@import "tailwindcss";

:root {
  --bg-main: #f5e9da;
  --text-main: #2d1e13;
}

html.dark {
  --bg-main: #18181b;
  --text-main: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
