@import "tailwindcss";

:root {
  --background: #f5e9da; /* beige */
  --foreground: #2d1e13; /* dark brown */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111; /* black */
    --foreground: #fff;    /* white */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
